/* Chrome, Edge, Safari */
html::-webkit-scrollbar {
    display: none;
}

/* Firefox */
html {
    scrollbar-width: none;
}
body{
    margin:0px;
    background-color: #093609;
}

ul{
    list-style: none;
   padding: 0;
}
p, h1, h2, h3, h4, a {
    font-family: sans-serif;
  }


.container{
  
        display:flex;
        flex-direction: column;
}

    .navigation { 
        background-color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height:30px;
        width:100vw;
        position: fixed;
        border-radius: 0px 0px 5px 5px;
        z-index: 1000;
    }
    .hamburgerMenu{
        background-color: white;
        position: fixed;
        left:-90vw;
        height:100vh;
        width: 55vw;
        z-index:1000;
        transition:left 0.3s;
    }
    .fade{
        display:none;
        background-color: transparent;
        position: fixed;
        right: 0;
        z-index:1000;
        height:100vh;
        width:45vw;
        
    }
    .visible {
        display:block;
    }
    .show{
        left:0vw;
    }
    .meny{
        font-family: Sans-serif;
        margin-left:10px;
        color:#093609;
        font-size:40px;
        padding-top: 20px;
        margin-bottom:20px;
    }
    .tiny{
        font-family: Sans-serif;
        margin-left:10px;
        margin-bottom:25px;
        font-size:25px;
        color:#093609
    }
    .icon{
        width:30px;
        height:30px;
    }

    h1{
        font-family: Sans-serif;
        display: flex;
        align-items:center;
        justify-content: center;        
        width:30%;
        height:100%;
        width:300px;
        
    }
  
    .icons,#icons{
        width:25px;
        height:25px;
    }
   
    
    .phoNav{
        background-color: white;
        height: 90%;
        display: flex;
        justify-content: center;
        
    }
    .lapNav{
        display: none;
        height:30px;
        justify-content: space-between;
        
    }
    .lapIcon{
        width:25px;
        height:25px;
    }
    .lapText{
        font-family: Sans-serif;
        display: flex;
        justify-content: center;
        color: #0d600d;
        font-size: x-large;
        text-decoration: none;
        margin-left: 30px;
        margin-right: 30px;
    }
    a{
        text-decoration: none;
        color: #093609;
    }
    
    .main{
        padding-top:40px;
        min-height:50vh;
        width:100vw;        
        background-image: url(../img/banner2.jpg);
        background-size:cover;
        background-position: center;
        background-repeat:no-repeat;
     
    }
    .main_rubrik{
        display: flex;  
        flex-direction: column;
        align-items: center;
        font-family: Sans-serif;
       margin-bottom:560px; 
      
        width: 60VW;
        height: auto;
        background-color: rgba(234, 225, 225, 0.527);
        border-radius: 10px;
    }
    h2{
        margin:0px;
        color:#093609;
        font-size: 21;
    }
    p{
        margin: 0px;
        color:#093609;
        font-size: 13;
    }
  
    
    .veckans_bakelse{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        height:AUTO;
    }
    
    .veckans_bakelse_text {
       min-width:45vw;
        display: flex;
        flex-direction: column;
        margin:10px;
        padding-bottom: 10px;
        background-color:white;
        
    }
    h3{
        font-family: Sans-serif;
        font-size: 31px;
        color: #093609;
    }
    .veckans_bakelse_paragraf{
        font-size: 21;
        line-height: 20px;
        color:#093609;

    }
    
    .veckans_bakelse_bild {
        
        min-width:90vw;
        min-height:350px;
        border-radius: 10px;
        background-image: url(../img/semla.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
       
        
    }
    .coffe_banner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgb(206, 230, 216);
        width: 100vw;
        min-height:30vh;

    }
    .banner{
        margin-top:auto;
        width: 45vw;
        height:15vh;
    }
    .coffe_banner_text{
        color: rgb(0, 0, 0);
        width: 40vw;
         margin-left:10px;
         margin-top: 10px;
         letter-spacing: 0.2px;
    }
    .button{
           height:45px;
        width:95px;
    }
    footer {
        background-color:#093609;
        height: auto;
    }

    h4,h5{
        font-family: Sans-serif;
        font-size: 21px;
        color:white;
    }
    li{
        font-family: Sans-serif;
        margin-bottom:5px ;
        margin-left:5px;
        color:white;
    }








    /* sida:meny */ 
    


.food-itmes{
    padding-top:70px ;
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: auto;
    background-color:#d4f1c6;
    width: 100vw;
}
.beskrivning{
    margin-left: 1vw;
}
#Menu_container{
    display:flex;
    flex-direction: row-reverse;
     background-color: rgb(243, 238, 238);
}
.main_meny{
    width:70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(243, 238, 238);
    height:auto;
    
}
.rubrik2{
    margin-bottom:26px;
    font-family: "Caveat Brush";
    font-size: 50px;
    color:#093609;
    width: 100px;
    height: 30px;

}
.meny_beskrivning{
    font-size: 21px;
    width: 50vw;
    color: #093609;
    letter-spacing: 1px;
    font-family: Sans-serif;
    padding-bottom: 6px;
}


.item_menu{
    border-radius: 20px;
    

    top:70px;
    display: flex;
    flex-direction: column;
justify-content: space-evenly;
align-items: center;
    gap:20px;
     position:sticky;
       z-index:900;
       background-color: rgb(243, 233, 233);
       width: 30vw;
       height:70vh;
}
.nav{
font-family: sans-serif;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: auto;
    height: auto;
    font-size: 31px;
    white-space: nowrap;
}
#Varma_Drycker,#Kaffe,#Kalla_Drycker,#Te,#Mackor,#Lunch,#bakverk{
    display: flex;
    top:50px;
    margin-bottom: 20px;
    font-family: "Caveat Brush";
    font-size: 50px;
    color:#093609;
}
    
.namn_mat{

    font-size: 30px;
    color:#093609;
      font-family: Sans-serif;
}

.display{
    
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap:10px
    
}
.box{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    height:auto;
    width:250px;
    padding:15px;
    background-color:rgb(243, 233, 233);
    border-radius: 20px;
}
.items{
    width: auto;;
    height:20vh;
      filter: sepia(30%) saturate(130%) brightness(92%) hue-rotate(-10deg);

}





/*sida hittaoss*/ 
   .hittaoss_banner{
width: 100vw;
height: 90vh;
   background-image: url(../img/banner5.jpg);
   background-position: center;
   background-size:cover;
   background-repeat: no-repeat;
}
.hittaoss{
    display: flex;
    
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100vw;
    background-color: rgb(245, 230, 230);
}
.hittaoss_plats_beskrivning{
    font-size: 20px;
    color:#093609;
    
   
}   
.hittaoss_rubrik{
    margin-top: 140px;
    font-size: 21;
    color: #093609;
   
}
.hittaoss_plats{
    margin-top: 150px;
    font-size: 21;
    color:#093609;
    text-align: center;
    
}
.hittaoss_information{
    display: flex;
    flex-direction: column;
   
    width: 50vw;
    
}

.hittaoss_tider{
    border-top: solid ;
    border-color: gray;
    border-width: 1px
    
;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height:auto;
    width: 50vw;
    background-color: rgb(245, 230, 230);
    margin-bottom: 10px;
    
}
.tid,.kontakt{
    color: #093609;
    font-size: 21;
}

.rubrik_tider,.rubrik_kontakt{
    color: #093609;
    font-size: 34;
}








/* sida 3 */

.FikaKlubb_banner{
    padding-top:200px;
    background-image: url(../img/banner.jpg);
    width: 100vw;
    height:30vw ;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
.fikaklubb_information{
    padding-top:5vh;
    width: 100vw;
    height:auto;  
    display: flex;
    flex-direction: column;
    background-color: white;  
    padding-bottom:5vh;
    font-family: Sans-serif;
}
.fikaklubb_rubrik{
    display:flex;
    justify-content: center;
    
    color:#093609;
    font-family: Sans-serif;
}
.fikaklubb_text{
    display: flex;
    justify-content: center;
    font-size: 13;
    padding-left: 1vw;
    padding-right: 1vw;
    color:#093609;
}

.fikaklubb_main{
    width:100vw;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.fikaklubb_main_rubrik{
 
    font-size: 34;
    font-family: Sans-serif;
}
.fikaklubb_main_text{
    font-size: 13;
    font-family: Sans-serif;
    color:#093609;
    background-color:rgb(245, 230, 230);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: auto;
    padding:5px;
    margin-right: 7px;
    
}

.fikaklubb_main_bilder{
    width: 45vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   margin-bottom: 20px;
   
}
.fikaklubb_icons{
    height: 60px;
    width: 60px;
}

.fikaklubb_points{
    width: 100vw;
    background-color: rgb(245, 230, 230);
    height:auto;
    display:flex;
    align-items: center;
    flex-direction: column;
}
.fikaklubb_points_rubrik{
    color: #093609;
    font-family: Sans-serif;
}

.fikaklubb_points_alternativ{
    display: flex;
    flex-direction: row;
    width: 70vw;
    align-items: center;
    font-family: Sans-serif;
}
.fikaklubb_points_option{
    color:#093609;
    font-size: 21px;
}
.fikaklubb_points_text{
    display: flex;
    flex-direction: row;
    font-size:13;
   
}

/*gjorde fel så fick ändra till dator aspekt istället */

    @media(min-width:1200px){
        .navigation{
            height:70px;
        }
       .phoNav{
            display:none;
        }
        .lapNav{
            display: flex;
        }
        .main{
            min-height:80vh;
            justify-content: left;
            padding-top: 70px;
                 }
      
       .button{
        height:50px;
        width:150px;
       }
      .banner{
        width:40vw;
        height:500px
       }
     
        }
        
    /* såg lite konstigt ut när man minskade så ändrade det  genom lägga till en till media */
    @media(min-width:1000px){
        .main_rubrik{
        margin-top:65px;
        margin-bottom: 870PX;
        width:30VW;
        margin-left: 150px;
        height: auto;
        background-color: rgba(234, 225, 225, 0.63);
       
       }
       h2{
        color: #093609;
        font-size: 34px;
       }
       p{
        color: #093609;
        font-size: 21px;
       }
       .veckans_bakelse{
        height:500px;
        justify-content: center;
        flex-direction: row;
        
       }
       .veckans_bakelse_bild{
       min-width:40vw;
        min-height:450px;
       }
         .veckans_bakelse_text{
        width:20vw;
       }
       .banner{
        width:30vw;
        height:20vh;
       }
       .coffe_banner{
        height:23vh;
       }
       .coffe_banner_text{
        margin-top:30px;
       }
    
}
@media(max-width:1000px){

/*Sida:meny */
#Menu_container{
    flex-direction: column;
}
        .main_meny{
            padding-left:0;
            padding-right: 0px;
            width:100vw;
            
            
            
        }
        .food-itmes{
            padding-top: 30px;
        }
        #Varma_Drycker,#Kaffe,#Kalla_Drycker,#Te,#Mackor,#Lunch,#Bakverk{
            margin-left: 10px;
        }
        .item_menu{
       flex-wrap: nowrap;
            top:30px;
             overflow-x: scroll;
        overflow-y: hidden;
        flex-direction:row ;
        height:auto;
        width: auto;
        background-color: white;
        }
        .display{
            width: 98vw;
     
        }
        .meny_beskrivning{
            font-size: 13px;
            letter-spacing: 0px;
            width: auto;
        }
        .beskrivning{
            margin-left: 10px;
        }
        .box{
            width:200px;
            
        }



    /*hitta oss sidan*/
    .hittaoss_banner{
        height:60vh
    }
          .hittaoss_plats_beskrivning{
            font-size: 15px;
        }
        .hittaoss_rubrik{
            font-size: 20px;
        }
        .hittaoss_plats{
            font-size: 18px;
        }
        .hittaoss_information{
            width:80vw;
        }
       .tid,.kontakt{
            color: #093609;
             font-size: 10px;
}
        .hittaoss_tider{
            width: 80vw;
        }
       .rubrik_tider,.rubrik_kontakt{
         color: #093609;
            font-size: 20px;
}

/* Sida:Fikaklubb */
.fikaklubb_rubrik{
    padding-left: 20px ;
      padding-right: 20px ;
}
.fikaklubb_text{
        padding-left: 20px;
    padding-right: 20px;
}
.fikaklubb_main_rubrik{
    display: flex;
    justify-content: center;
    padding:10px;
    font-size: 25px;
}
.fikaklubb_main_bilder{
    width: 100vw;

}
.fikaklubb_main_text{
font-size: 15px;
margin-left:10px
}
.fikaklubb_points_alternativ{
    width:95vw;
}
.fikaklubb_points_option,.fikaklubb_points_text{
    font-size: 15px;
}

}
