/* Chrome, Edge, Safari */
html::-webkit-scrollbar {
    display: none;
}

/* Firefox */
html {
    scrollbar-width: none;
}
body{
    margin:0px;
    
}



#container{
  
        display:flex;
        flex-direction: column;
}

    header { 
        background-color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height:30px;
        width:100vw;
        position: fixed;
        border-radius: 0px 0px 5px 5px;
    }
    .hamburgerMenu{
        background-color: white;
        position: fixed;
        left:-90vw;
        height:100vh;
        width: 55vw;
        z-index:1000;
        transition:left 0.3s;
    }
    .fade{
        display:none;
        background-color: transparent;
        position: fixed;
        right: 0;
        z-index:1000;
        height:100vh;
        width:45vw;
        
    }
    .visible {
        display:block;
    }
    .show{
        left:0vw;
    }
    .meny{
        margin-left:10px;
        color:#0d600d;
        font-size:40px;
        margin-bottom:40px;
    }
    .tiny{

        margin-left:10px;
        margin-bottom:25px;
        font-size:25px;
        color:#0d600d
    }
    .icon{
        width:50px;
        height:50px;
    }

    h1{
        display: flex;
        align-items:center;
        justify-content: center;        
        width:30%;
        height:100%;
        width:300px;
        
    }
  
    .icons,#icons{
        width:25px;
        height:25px;
    }
   
    
    .phoNav{
        background-color: white;
        height: 90%;
        display: flex;
        justify-content: center;
        
    }
    .lapNav{
        display: none;
        height:30px;
        justify-content: space-between;
        
    }
    .lapIcon{
        width:25px;
        height:25px;
    }
    .lapText{
        color: #0d600d;
        font-size: x-large;
        text-decoration: none;
        margin-left: 30px;
        margin-right: 30px;
    }
    a{
        text-decoration: none;
        color: #0d600d;
    }
    
    .sida1{
        display: flex;
        justify-content:center;
        padding-top:40px ;
        min-height:110vh;
        width:100vw;        
        background-image: url(../img/banner3.webp);
        background-size:cover;
        background-position: center;
        background-repeat:no-repeat;
     
    }
    .rubrik{
        background-color:transparent;
    }
    h2{
        margin:0px;
        color:white;
        font-size: 30px;
    }
    p{
        margin: 0px;
        color:white;
        font-size: 15px;
    }
  
    
    .main2{
        display: flex;
        flex-direction: column;
        padding: 30px;
        background-color: white;
        height:AUTO;
    }
    
    .text {
        display: flex;
        flex-direction: column;
        margin:10px;
        padding-bottom: 10px;
        background-color:white;
        
    }
    h3{
        font-size: 30px;
        color: #0d600d;
    }
    .paragraf{
        font-size: 20px;
        line-height: 20px;
        color:#0d600d;

    }
    
    .picture {
        min-height: 300px;
        border-radius: 10px;
        background-image: url(../img/bakelse1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 10px;
       
        
    }
    
    footer {
        background-color:rgba(30, 74, 48);
        height: auto;
    }

    h4,h5,h6{
        font-size: 20px;
        color:white;
    }
    li{
        margin-bottom:5px ;
        margin-left:5px;
        color:white;
    }





    @media(min-width:600px){
        header{
            height:70px;
        }
       .phoNav{
            display:none;
        }
        .lapNav{
            display: flex;
        }
        .sida1{
            min-height:140vh;
            justify-content: left;
            padding-top: 70px;
        }
       .rubrik{
        padding-left:px;
        padding-top: 50px;
       }
       h2{
        font-size: 50px;
       }
       p{
        font-size: 20px;
       }
       .main2{
        flex-direction: row;
       }
       .picture{
        width:100vw;
        height:30vw
       }
    }   



    /* sida:meny */ 
    
#container{
    display: flex;
    flex-direction: column;

}

.food-itmes{
    height: 15vh;
    background-color: #0d600d;
}
.sida2{
    display: flex;
    flex-direction: column;
    height: 500vh;
    width:100vw;
    
}

.namn{
    padding-top:0; /*kanske tars bort sen */
    font-size: 35px;
    color:#0d600d
}
    

.display{
    display: flex;
    flex-direction: row;
    align-self:flex-start ;
    justify-content:flex-start ;
    flex-wrap:wrap;
   
    background-color: #0d600d;
}
.box{
    flex-direction: column;
    justify-content: center;
    margin:20px;
    margin-left:85px;
    height:50vh;
    width:25vw;
    background-color: beige;
    border-radius: 20px;
}
.items{
    width:20vw;
    height:40vh;
}